@model IEnumerable<Data.StockManagement.Part>

<div class="card">
    <div class="card-header-management">
        Piezas<button type="button" class="btn btn-warning float-lg-right" data-toggle="modal" data-target=".CreatePart"><i class="fas fa-plus"></i></button>
    </div>
    <ul class="list-group list-group-flush pre-scrollable">
        @foreach (var item in Model.OrderBy(x => x.PartDescription))
        {
            <li class="list-group-item">
                <div class="d-inline-block">@Html.DisplayFor(modelItem => item.PartDescription)</div>
                <div class="float-right d-inline-block">
                    <i class="fas fa-pencil-alt" data-toggle="modal" data-target=".EditPart" data-description-id="@item.PartId"></i> |
                    <i class="fas fa-trash-alt" data-toggle="modal" data-target=".DeletePart" data-description-id="@item.PartId"></i>
                </div>
            </li>
        }
    </ul>
</div>

@* MODAL CREAR *@
<div class="modal fade CreatePart" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @Html.Partial("../StockManagement/Parts/_CreatePartialView", new Data.StockManagement.Part())
        </div>
    </div>
</div>

@* MODAL EDITAR *@
<div class="modal fade EditPart" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @Html.Partial("../StockManagement/Parts/_EditPartialView", new Data.StockManagement.Part())
        </div>
    </div>
</div>

@* MODAL BORRAR *@
<div class="modal fade DeletePart" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @Html.Partial("../StockManagement/Parts/_DeletePartialView", new Data.StockManagement.Part())
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function toggleIcon(e) {
        $(e.target)
        .prev('.panel-heading')
        .find(".more-less")
        .toggleClass('glyphicon-plus glyphicon-minus');
    }

    $(function () {
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
        $('i.fa-trash-alt').click(function () {
            var PartId = $(this).data("description-id");
            var deleteRoute = $(".DeletePart .modal-dialog form").attr("action")
            if (deleteRoute[deleteRoute.length - 1] == "/") {
                $(".DeletePart .modal-dialog form").attr("action", deleteRoute + PartId);
            }
            else {
                $(".DeletePart .modal-dialog form").attr("action", deleteRoute.substring(0, deleteRoute.lastIndexOf("/")) + "/" + PartId);
            }
        });

        $('i.fa-pencil-alt').click(function () {

            var PartId = $(this).data("description-id");
            var editRoute = $(".EditPart .modal-dialog form").attr("action")
            if (editRoute[editRoute.length - 1] == "/") {
                $(".EditPart .modal-dialog form").attr("action", editRoute + PartId);
            }
            else {
                $(".EditPart .modal-dialog form").attr("action", editRoute.substring(0, editRoute.lastIndexOf("/")) + "/" + PartId);
            }

            var PartDescription = $(this).parent().prev().text().trim();
            $("#part-editor").val(PartDescription);
            $("#PartId").val(PartId);
        });
    });
</script>
